<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Igor News</h1>
    <p>Sua fonte confiável de notícias</p>
    Seja bem vindo!
        
    
  </body>
</html>