<!DOCTYPE html>
<html>
  <head>
    <title>Últimas Noticias</title>
    <link rel="icon" type="imagem/png" href="images/logoNoticias.png" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" />
  </head>
  <body>
    <div class="container">

  <center><h1 class="title mt-5">Últimas Notícias</h1></center>

  <div class="border row p-2">
 <div class="col-3">
 <img src="images/homemaranha.jpg" class="notImg">
 </div>
  <div class="col-9"><a href="noticias/01" class="notTitle"><h1 class="notTitle">Homem-Aranha: Sem Volta Para Casa ganha novo trailer</h1></a>
  
  <h2 class="notSubTitle">Novo trailer de homem aranha foi lançado e revelou um de seus vilões.</h2>

  
  </div>

        
    
  </body>
</html>